Motor_Vehicle_Collisions_-_Crashes.csv
column_inventory_sample.csv
vehicle_collisions_subset.parquet
segment_history_files
segment_history_files_shifted_v2
test_with_hist_shifted_v2.parquet
train_with_hist_shifted_v2.parquet
.env
__pycache__
db.py 
